@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

body {
  color:grey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./aura.png');
  background-size: cover;
  background-position: center;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: hidden; /* Show vertical scrollbar if needed */
}

#clock {
  margin-left: 29px;
  font-size: 25vw;
  color: #ffffff;
  text-align: center;
  font-family: 'Roboto+Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#time {
  font-weight: bold;
  display: inline-block;
}

#am-pm {
  font-size: 30px;
  display: inline-block;
  margin-left: 0px;
}

#switch-btn {
  font-family: Roboto+Mono;
  background-color:transparent;
  border: none;
  position: fixed;
  color:#ffffff;
  bottom: 20px;
  right: 20px;
}