@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

body {
  color:grey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('./aura.png') center/contain no-repeat;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: hidden; /* Show vertical scrollbar if needed */
}

#clock {
  margin-left: 29px;
  font-size: 150px;
  color: #ffffff;
  text-align: center;
  font-family: 'Roboto+Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#time {
  font-weight: bold;
  display: inline-block;
}

#am-pm {
  font-size: 30px;
  display: inline-block;
  margin-left: 0px;
}

#switch-btn {
  font-family: Roboto+Mono;
  background-color:transparent;
  border: none;
  position: fixed;
  color:#ffffff;
  bottom: 20px;
  right: 20px;
}

/* Медиа-запросы для адаптивности */
/* Планшеты */
@media (max-width: 1024px) {
  #clock {
    font-size: 150px;
    margin-left: 20px;
  }
  
  #am-pm {
    font-size: 24px;
  }
}

/* Мобильные устройства (планшеты в портретной ориентации) */
@media (max-width: 768px) {
  #clock {
    font-size: 150px;
    margin-left: 28px;
  }
  
  #am-pm {
    font-size: 20px;
  }
}

/* Мобильные устройства (телефоны) */
@media (max-width: 480px) {
  #clock {
    font-size: 90px;
    margin-left: 18px;
  }
  
  #am-pm {
    font-size: 16px;
  }
  
  #switch-btn {
    bottom: 10px;
    right: 10px;
    font-size: 14px;
  }
}

/* Очень маленькие экраны */
@media (max-width: 320px) {
  #clock {
    font-size: 60px;
    margin-left: 11px;
  }
  
  #am-pm {
    font-size: 14px;
  }
}